*{
    padding: 0px;
    margin: 0px;
    font-family: 'Rubik Wet Paint', cursive;
    color:white;
}
body{
    background-image: url(../images/782955.jpg);
}

.container {
    padding: 0px;
    margin: auto;
    width: 720px;
    height: 720px;
    background-color:black;
    border: 5px solid violet;
    border-radius: 10%;
    
}
#player{
   background-color: blueviolet;
    border:4px;
    width: 80px;
    height: 80px;
    border-radius: 50px;
    position: absolute;
    transition: all .7s;

}
#player:hover{
    background-color: green;
}
.pointer{
    background-image: url(../images/background.jpg);
    object-fit: contain;
    height: 50px;
    margin-top: 30px;
    width: 25em;
    border-bottom: 0px;
    color: #fff;
    font-size: 20px;
    text-align: center;
    padding: 10px 0px;
}
.contenedor-prueba{
    background-image: url(../images/background.jpg);
    width: 50vw;
    position: relative;
    margin:auto;
    text-align: center;
    font-size: 20px;
    border: 3px white;
    border-radius: 10%;
}
.contenedor-prueba:hover{
    background-color: blue;
    

}